.field-name-field-stewardship-featured-image img {
  width: 50%;
  margin-right: 20px;
  margin-top: 5px;
  float: left;
}

.stewardship-image img {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}

.stewardship-story p.indent {
  margin-left: 170px;
}

.ways-of-giving h3,
.stewardship-story h3 {
  font-weight: normal;
  font-family: "EB Garamond","Arial";
  font-size: 22px;
  clear: both;
}

.stewardship-story {
  min-height: 210px;
}

@media (max-width: 500px) {
  .field-name-field-stewardship-featured-image img,
  .stewardship-image img {
    float: none;
    width: 100%;
    height: auto;
    margin: 10px 0px;
  }
  .stewardship-story p {
    margin-left: 0px;
  }
}

.field-name-field-stewardship-video {
  margin-bottom: 15px;
}
