body {
  background: url(images/ccpbg.png) repeat;
  font-family: "Arimo", "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 24px;
}

img {
  height: auto !important;
}

#header {
  padding: 25px 0px;
}

#main-content {
  background: #fff;
}

.navbar-inner {
  padding-left: 0px;
  min-height: 0px;
  background: none;
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-spacer {
  display: none;
}

@media (max-width: 767px) {
  .navbar-spacer {
    display: none;
  }
  .footer-menu > ul > li {
    width: 98% !important;
  }
}

.navbar {
  padding: 5px 0px;
  background: #530017;
  margin: 0px;
background: #aa0a35; /* Old browsers */
background: -moz-linear-gradient(top,  #aa0a35 0%, #560527 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa0a35), color-stop(100%,#560527)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #aa0a35 0%,#560527 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #aa0a35 0%,#560527 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #aa0a35 0%,#560527 100%); /* IE10+ */
background: linear-gradient(to bottom,  #aa0a35 0%,#560527 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa0a35', endColorstr='#560527',GradientType=0 ); /* IE6-9 */

}

.navbar .links {
  padding-left: 0px;
  margin-left: 0px;
}

.navbar .links:hover {
}

.navbar a {
  color: #fff !important;
  font-weight: bold;
  font-size: .85em;
  padding-left: 12px;
  padding-right: 0px;
}

.navbar a.active {
  color: #fff;
  text-decoration: underline;
}

#sidebar {
  background: #ededed;
}

.main-content-inner {
  padding: 10px 25px;
}

.field-name-body .media-image {
  margin: 0 15px !important;
  padding: 2px;
  border: 1px #ededed solid;
}

.field-name-body .media-image.no-float {
  margin: 0px !important;
  width: 98%;
}

.sidebar-inner {
  padding: 10px 25px;
}

.content-row {
  background: #ededed;
}

.footer {
  padding: 20px 0px;
  background: #444;
  text-align: center;
  color: #ccc;
}

.footer a {
  color: #fff !important;
}

.footer-menu {
}

.footer-menu > ul > li {
  float: left;
  width: 23%;
  padding: 0 1% 10px 1% !important;
  text-align: center;
}

.footer-menu > ul > li > a {
  font-weight: bold;
  text-transform: uppercase;
}

.footer-menu ul li.leaf,
.footer-menu ul li.expanded {
  list-style: none ;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.footer-menu ul li li a {
  color: #bbb !important;
}

.footer-menu ul {
  padding: 0px;
  margin: 0px;
}

.footer-inner {
  padding: 0px 20px;
}

.footer p {
  clear: both;
  margin-top: 10px;
}

a, a.active, a:visited {
  color: #b00031;
}

h1, h2 {
  font-family: "EB Garamond", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#sidebar h2 {
  color: #b00031;
}

.container.main {
-webkit-box-shadow:  0px 0px 15px 15px rgba(0,0,0,.2);
        box-shadow:  0px 0px 15px 15px rgba(0,0,0,.2);
}

.item-list .pager li {
  padding: 0px;
  margin: 5px;
}

.pager li>a, .pager li>span {
  padding: 5px 11px;
}

.item-list ul {
  border-top: 1px #ededed solid;
  padding-top: 15px;
  margin-top: 15px;
}

.mejs-audio {
  width: 100% !important;
}

.agenda-block .cal_0 {
  background-color: #ccc;
  color: #000 !important;
}

.agenda-block .cal_0 > span {
  font-weight: bold;
}

.block .agenda-block .moreinfo li,
.block .agenda-block a,
.block .agenda-block .moreinfo a,
.block .agenda-block p {
  color: black;
}

.agenda-block > p {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 6px !important;
}
