.highlight h2,
.highlight h2 a {
 color: black;
 font-size: 24px;
 line-height: 30px;
}

.highlight .highlight-image-container {
-webkit-box-shadow: inset 0px 0px 40px rgba(255, 255, 255, .7);
box-shadow: inset 0px 0px 40px rgba(255, 255, 255, .7);
-moz-box-shadow: inset 0px 0px 40px rgba(255, 255, 255, .7);
max-width: 100%;
display: block;
}

.highlight img {
  position: relative;
  z-index: -1;
  display: block;
  width: 100%;
  height: auto;
}
.block-front-page-highlights {
position: relative;
z-index:1;
}

.highlight-inner {
  text-align:justify;
  text-justify:inter-word;
  padding: 10px 20px;
}

.highlight.left .highlight-inner {
  padding-right: 10px;
}

.highlight.right .highlight-inner {
  padding-left: 10px;
}

