.row .field-name-field-sermon-audio, .row .field-name-field-sermon-video {
  margin-bottom: 15px;
}

.sermon-teaser {
  border: 1px dotted #ccc;
  margin-bottom: 15px;
  background: #f1f1f1;
  padding: 0px 20px;
}

#sermons-page-form fieldset {
  margin-bottom: 30px;
}

#sermons-page-form legend {
  font-weight: bold;
  font-size: 24px;
}

#sermons-page-form h2 a {
  font-size: 20px;
}
