.sidebar-upcoming-event {
  padding-bottom: 15px;
}

#sidebar-upcoming-events h3.title {
  font-family: "EB Garamond", Arial;
  font-size: 1.3em;
  border-bottom: 1px #ccc solid;
}

div.event-controls {
  text-align: center;
}

a.event-prev {
  float: left;
}

a.event-next {
  float: right;
}
