.sidebar {
  font-size: 12px;
  line-height: 15px;
}

.sidebar h2 {
  font-size: 24px;
  line-height: 30px;
}

.sidebar-upcoming-event {
  padding-bottom: 15px;
}

#sidebar-upcoming-events h3.title {
  font-family: "EB Garamond", Arial;
  font-size: 1.3em;
  border-bottom: 1px #ccc dotted;
  margin-top: 0px;
}

div.event-controls {
  text-align: center;
}

a.event-prev {
  float: left;
}

a.event-next {
  float: right;
}
