.highlight h2 a {
 color: black;
}

h1.front-page-heading {
  font-size: 21px;
  line-height: 30px;
  text-align:justify;
  text-justify:inter-word;
}

/* hide superfluous toolbar items */

.toolbar-menu li.path-admin-structure,
.toolbar-menu li.path-admin-modules,
.toolbar-menu li.path-admin-config,
.toolbar-menu li.path-admin-reports,
.toolbar-menu li.path-admin-help,
.toolbar-menu li.path-admin-appearance {
  display: none;
}

h1.front-page-heading .dropcap {
  color: #b00031;
  text-transform: uppercase;
  float: left;
  padding-right: 8px;
}

h1.front-page-heading .dropcap .our {
    font-size: 58px;
  line-height: 58px;
  display: block;
clear: both;
float: left;
}

h1.front-page-heading .dropcap .mission {
    font-size: 32px;
  line-height: 32px;
  display: block;
clear: both;
float: left;
}

