.highlight h2 a {
 color: black;
}

h1.front-page-heading {
  font-size: 31.5px;
  line-height: 40px;
}

/* hide superfluous toolbar items */

.toolbar-menu li.path-admin-structure,
.toolbar-menu li.path-admin-modules,
.toolbar-menu li.path-admin-config,
.toolbar-menu li.path-admin-reports,
.toolbar-menu li.path-admin-help,
.toolbar-menu li.path-admin-appearance {
  display: none;
}
